
<!DOCTYPE html>
<html ng-app="weatherApp">
  <head>
    <meta charset="utf-8">
    <title>Weather App Learning</title>
    <!--Library CDNs  -->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.2.0.js"></script>


    <script type="text/javascript" src="app.js"></script>



  </head>
  <body ng-controller="weatherAppController">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">

            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Weather App</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">


            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cities<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li ng-click="selectCity(city)" ng-repeat="city in cityList">{{city}}</li>
              </ul>

            </li>
          </ul>

              <input type="text" class=" form-control navbar-form navbar-left" placeholder="{{selectedCity}}"></input>


        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <h2>Here are the Weather Details for Selected City for the next 5 Days</h2>
    <uib-tabset active="activeJustified" justified="true">
      <uib-tab index="0" ng-click="callTab(4)" heading="Day 1">
        <table>
          <tr>
              <td>Date</td>
              <td>Humidity %</td>
              <td>Pressure</td>
              <td>Temperature *c</td>
              <td>Weather Description</td>
              <td>Wind Speed</td>
          </tr>
          <tr ng-repeat="data in weatherDataArray">
            <td>{{data.Date}}</td>
            <td>{{data.Humidity}}</td>
            <td>{{data.Pressure}}</td>
            <td>{{data.Temperature}}</td>
            <td>{{data.WeatherDescMain}}</td>
            <td>{{data.WindSpeed}}</td>
          </tr>
        </table>

      </uib-tab>
      <uib-tab index="1" ng-click="callTab(3)" heading="Day 2">
        <table>
          <tr>
              <td>Date</td>
              <td>Humidity %</td>
              <td>Pressure</td>
              <td>Temperature *c</td>
              <td>Weather Description</td>
              <td>Wind Speed</td>
          </tr>
          <tr ng-repeat="data in weatherDataArray">
            <td>{{data.Date}}</td>
            <td>{{data.Humidity}}</td>
            <td>{{data.Pressure}}</td>
            <td>{{data.Temperature}}</td>
            <td>{{data.WeatherDescMain}}</td>
            <td>{{data.WindSpeed}}</td>
          </tr>
        </table>
      </uib-tab>



      <uib-tab index="2" ng-click="callTab(2)" heading="Day 3">
        <table>
          <tr>
              <td>Date</td>
              <td>Humidity %</td>
              <td>Pressure</td>
              <td>Temperature *c</td>
              <td>Weather Description</td>
              <td>Wind Speed</td>
          </tr>
          <tr ng-repeat="data in weatherDataArray">
            <td>{{data.Date}}</td>
            <td>{{data.Humidity}}</td>
            <td>{{data.Pressure}}</td>
            <td>{{data.Temperature}}</td>
            <td>{{data.WeatherDescMain}}</td>
            <td>{{data.WindSpeed}}</td>
          </tr>
        </table>
      </uib-tab>



      <uib-tab index="3" ng-click="callTab(1)" heading="Day 4">
        <table>
          <tr>
              <td>Date</td>
              <td>Humidity %</td>
              <td>Pressure</td>
              <td>Temperature *c</td>
              <td>Weather Description</td>
              <td>Wind Speed</td>
          </tr>
          <tr ng-repeat="data in weatherDataArray">
            <td>{{data.Date}}</td>
            <td>{{data.Humidity}}</td>
            <td>{{data.Pressure}}</td>
            <td>{{data.Temperature}}</td>
            <td>{{data.WeatherDescMain}}</td>
            <td>{{data.WindSpeed}}</td>
          </tr>
        </table>
      </uib-tab>



      <uib-tab index="4" ng-click="callTab(0)" heading="Day 5">
        <table>
          <tr>
              <td>Date</td>
              <td>Humidity %</td>
              <td>Pressure</td>
              <td>Temperature *c</td>
              <td>Weather Description</td>
              <td>Wind Speed</td>
          </tr>
          <tr ng-repeat="data in weatherDataArray">
            <td>{{data.Date}}</td>
            <td>{{data.Humidity}}</td>
            <td>{{data.Pressure}}</td>
            <td>{{data.Temperature}}</td>
            <td>{{data.WeatherDescMain}}</td>
            <td>{{data.WindSpeed}}</td>
          </tr>
        </table>
      </uib-tab>


    </uib-tabset>





  </body>
</html>
