<!DOCTYPE html>
<html ng-app="weatherApp">
  <head>
    <meta charset="utf-8">
    <title>Weather App Learning</title>
    <!--Library CDNs  -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>

    <script type="text/javascript" src="app.js"></script>



  </head>
  <body ng-controller="weatherAppController">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">

            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Weather App</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">


            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cities<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li ng-click="selectCity(city)" ng-repeat="city in cityList">{{city}}</li>
              </ul>

            </li>
          </ul>

              <input type="text" class=" form-control navbar-form navbar-left" placeholder="{{selectedCity}}"></input>


        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <h3>Here are the Weather Details for {{selectedCity}}</h3>
    <ul>
      <li>Humidity Percentage:{{humidity}}</li>
      <li>Temperature:{{temperature}}</li>
      <li>Wind Speed:{{windspeed}}m/s</li>
      <li>Weather :{{weatherMain}}</li>
    </ul>





  </body>
</html>
